.quotesSwiper__container {
  width: 60%;
  display: flex;
  align-items: center;
  margin: 0 0 0 132px;
}
.photos {
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  margin-right: 0;
  -webkit-box-reflect: below 0.01px
    linear-gradient(transparent, transparent, #0006);
}
.swiper-container {
  height: 50vh;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
  left: 90px;
  width: 30%;
}
.swiper {
  padding: 0 0 55px 0;
}
.swiper-slide-next {
  opacity: 0.45;
}

.swiper-wrapper {
  z-index: 0;
}