.quotesSwiper {
  padding: 0 0 55px 0;
}

.quotesSwiper > .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
  left: 90px;
  width: 30%;
}

.quotesSwiper > .swiper-slide-next {
  opacity: 0.45;
}

.quotesSwiper > .swiper-wrapper {
  z-index: 0;
}