@mixin fc-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin fr-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin mp-0 {
  margin: 0;
  padding: 0;
}