@font-face {
    font-family: 'Quicksand';
    font-style:  normal;
    font-weight: 300;
    font-display: swap;
    src: local("Quicksand"),
        url("./Quicksand-Light.ttf") format("truetype"),
}

@font-face {
    font-family: 'Quicksand';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: local("Quicksand"),
        url("./Quicksand-Regular.ttf") format("truetype"),
}

@font-face {
    font-family: 'Quicksand';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: local("Quicksand"),
        url("./Quicksand-Medium.ttf") format("truetype"),
}

@font-face {
    font-family: 'Quicksand';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: local("Quicksand"),
        url("./Quicksand-SemiBold.ttf") format("truetype"),
}

@font-face {
    font-family: 'Quicksand';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: local("Quicksand"),
        url("./Quicksand-Bold.ttf") format("truetype"),
}