@import '../assets/normalize.css';
@import '../assets/fonts/Quicksand/quicksand.css';
@import '../assets/fonts/Roboto/roboto.css';
.app {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  width: 100%;
  text-rendering: optimizeLegibility;
  position: relative;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1440px;
  width: calc(100% - 234px);
  justify-content: space-between;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerTextMenu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.headerIconsMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.circleShape {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #5E81FE;
  margin-right: 73px;
}

.headerActionButton {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #3A79FF;
  width: 113px;
  height: 43px;
  background: #D2E1FF;
  border-radius: 2px;
  margin: 19px 0 19px 44px;
  border-style: none;
}

.menuTextItem {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #697CA6;
  margin-right: 42px;
}
.menuTextItem_active {
  color: #5E81FE;
}

.menuIconsItem {
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ffffff;
  border: none;
  transition: opacity 0.3s;
  margin-left: 33px;
}

.facebook-icon {
  background-image: url(../assets/images/facebook-icon.svg);
  width: 8.71px;
  height: 17px;
}

.telegram-icon {
  background-image: url(../assets/images/telegram-icon.svg);
  width: 14.7px;
  height: 11.79px;
}

.twitter-icon {
  background-image: url(../assets/images/twitter-icon.svg);
  width: 16.51px;
  height: 13.78px;
}

.m-icon {
  background-image: url(../assets/images/m-icon.svg);
  width: 16.51px;
  height: 12.86px;
}

.menuIconsItem {
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ffffff;
  border: none;
  transition: opacity 0.3s;
  margin-left: 33px;
}

.facebook-icon {
  background-image: url(../assets/images/facebook-icon.svg);
  width: 8.71px;
  height: 17px;
}

.telegram-icon {
  background-image: url(../assets/images/telegram-icon.svg);
  width: 14.7px;
  height: 11.79px;
}

.twitter-icon {
  background-image: url(../assets/images/twitter-icon.svg);
  width: 16.51px;
  height: 13.78px;
}

.m-icon {
  background-image: url(../assets/images/m-icon.svg);
  width: 16.51px;
  height: 12.86px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 100%;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 570px;
  background-color: #F4F7FF;
  background-image: url(../assets/images/intro-clouds.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.intro__ellipse {
  width: 100px;
  height: 100px;
  background-image: url(../assets/images/intro-ellipse.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 108px;
}
.intro__chart {
  max-height: 465px;
  height: 100vh;
  width: 100vw;
  max-width: 1440px;
  background-image: url(../assets/images/intro-chart.svg);
  background-repeat: no-repeat;
  background-position: left;
  position: absolute;
  bottom: 0;
}
.intro__textArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 91px 0 0 0;
}
.intro__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #3D4F9F;
  width: 90px;
  text-align: center;
}
.intro__title {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 48px;
  line-height: 60px;
  color: #3D4F9F;
  width: 581px;
  text-align: center;
  margin: 16px 0 0 0;
}
.intro__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 29px;
  color: #8D96BD;
  width: 502px;
  text-align: center;
  margin: 28px 0 0 0;
}
.intro__circle-shape {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 15px;
  height: 16px;
  background: #FFFFFF;
  border: 2px solid #5E81FE;
  box-shadow: 0px 0px 15px rgba(82, 131, 255, 0.25);
  border-radius: 50%;
  position: absolute;
  bottom: 68px;
  left: 508px;
  z-index: 3;
}
.intro__one-of-stats {
  margin: 0;
  padding: 0;
  height: 120px;
  width: 140px;
  background-image: url(../assets/images/intro-one-of-stats.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  z-index: 3;
  position: absolute;
  bottom: 60px;
  left: 446px;
}
.intro__circleSet {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 48px;
  justify-content: space-between;
  justify-self: flex-end;
  margin: 0 0 28px 0;
  margin-top: auto;
}
.intro__circleSet-item {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #D1D6E3;
}

.playButton__shape {
  margin: 0;
  padding: 0;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #FFFFFF;
  margin: 20px 0 0 0;
  position: relative;
  border: none;
}

.playButton__play-icon {
  margin: 0;
  padding: 0;
  height: 10px;
  width: 11px;
  background-image: url(../assets/images/play-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.videoButton__play-icon {
  width: 6.5px;
  height: 7.2px;
  background-image: url(../assets/images/playandmanage-play-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  margin: 0 0 0 6px;
}

.menuLogoItem {
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ffffff;
  border: none;
  transition: opacity 0.3s;
  margin-right: 76.5px;
}

.bitbucket-logo {
  background-image: url(../assets/images/logo-bitbucket.svg);
  width: 116.59px;
  height: 29px;
}

.appleWatch-logo {
  background-image: url(../assets/images/logo-apple-watch.svg);
  width: 116.59px;
  height: 24.29px;
}

.facebook-logo {
  background-image: url(../assets/images/logo-facebook.svg);
  width: 116.58px;
  height: 22.37px;
}

.atlassian-logo {
  background-image: url(../assets/images/logo-atlassian.svg);
  width: 116.57px;
  height: 24.07px;
}

.audi-logo {
  background-image: url(../assets/images/logo-audi.svg);
  width: 116.58px;
  height: 28.94px;
}

.customersLogoMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}

.customers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 146px;
}

.planAndManage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 776px;
  background-color: #F5F8FF;
  justify-content: center;
}
.planAndManage__textArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.planAndManage__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #3D4F9F;
  width: 149px;
  text-align: left;
}
.planAndManage__title {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 45px;
  color: #3D4F9F;
  width: 299px;
  text-align: left;
  margin: 27px 0 0 0;
}
.planAndManage__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 29px;
  color: #8D96BD;
  width: 413px;
  text-align: left;
  margin: 27px 0 0 0;
}
.planAndManage__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.planAndManage__wrapper_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.planAndManage__wrapper_buttons {
  margin: 47px 0 0 0;
}
.planAndManage__videoButton {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  width: 130px;
  height: 43px;
  background: #4C85FF;
  box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
  border-style: none;
}
.planAndManage__actionButton {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 16px;
  color: #ADB4D2;
  width: 130px;
  height: 43px;
  background: #F5F8FF;
  border: 1px solid #D1D1E4;
}
.planAndManage__illustration {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  width: 653px;
  height: 436px;
  position: relative;
  margin: 0 0 0 55px;
}
.planAndManage__illustration-main {
  width: 100%;
  height: 436px;
  background-image: url(../assets/images/playandmanage-illustration-1.svg);
  background-position: top -20px right -50px;
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  right: 0;
}
.planAndManage__illustration-search {
  width: 100%;
  height: 280px;
  background-image: url(../assets/images/playandmanage-illustration-2.svg);
  background-position: bottom -105px right -20px;
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  bottom: 0;
}
.planAndManage__illustration-events {
  width: 100%;
  height: 436px;
  background-image: url(../assets/images/playandmanage-illustration-3.svg);
  background-position: bottom 60px left -40px;
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  bottom: 0;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 885px;
  background-color: #FFFFFF;
  background-image: url(../assets/images/features-clouds.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1400px 600px;
}
.features__textArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 171px 0 0 0;
}
.features__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #3D4F9F;
  width: 56px;
  text-align: center;
}
.features__title {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  color: #3D4F9F;
  width: 229px;
  text-align: center;
  margin: 20px 0 0 0;
}
.features__wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  max-width: 761px;
  margin: 92px 0 0 0;
  justify-content: space-between;
}
.features__wrapper_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 337px;
  justify-content: center;
}
.features__wrapper_text {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 110px;
  margin: 0;
  justify-content: space-evenly;
}
.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 140px;
  min-height: 254px;
}
.features__overview-item {
  width: 69px;
  height: 69px;
  border-radius: 50%;
  background-color: #F1F5FF;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/images/features-overview-icon.svg);
}
.features__files-item {
  width: 69px;
  height: 69px;
  border-radius: 50%;
  background-color: #F1F5FF;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/images/features-files-icon.svg);
}
.features__meetingChats-item {
  width: 69px;
  height: 69px;
  border-radius: 50%;
  background-color: #F1F5FF;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/images/features-meetingChats-icon.svg);
}
.features__saveEvents-item {
  width: 69px;
  height: 69px;
  border-radius: 50%;
  background-color: #F1F5FF;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/images/features-saveEvents-icon.svg);
}
.features__itemTextArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  margin: 33px 0 0 0;
}
.features__item-title {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: #4074F8;
  font-size: 14px;
  line-height: 25px;
}
.features__item-text {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  text-align: center;
  color: #ADB3CB;
  font-size: 11px;
  line-height: 19px;
  margin: 25px 0 0 0;
}
.features__actionButton {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 16px;
  width: 113px;
  height: 43px;
  border-radius: 2px;
  border-style: none;
}
.features__actionButton_red {
  color: #D43F3F;
  background: #FFD7D7;
}
.features__actionButton_blue {
  color: #3A79FF;
  background: #D2E1FF;
}
.features__line {
  width: 15px;
  border: 1px solid #DAE4FE;
}
.features__text {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 19px;
  text-transform: uppercase;
}

/*# sourceMappingURL=index.css.map */
