@import '../assets/normalize.css';
@import '../assets/fonts/Quicksand/quicksand.css';
@import '../assets/fonts/Roboto/roboto.css';
.app {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  width: 100%;
  text-rendering: optimizeLegibility;
  position: relative;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1440px;
  width: 80%;
  justify-content: space-between;
}
.header__circleShape {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #5E81FE;
  margin-right: 73px;
}
.header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__textMenu-item {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #697CA6;
  margin-right: 42px;
  cursor: pointer;
}
.header__textMenu-item_active {
  color: #5E81FE;
}
.header__textMenu-item:hover {
  opacity: 0.8;
}
.header__textMenu-link {
  text-decoration: none;
}
.header__actionButton {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #3a79ff;
  width: 113px;
  height: 43px;
  background: #d2e1ff;
  border-radius: 2px;
  margin: 19px 0 19px 44px;
  border-style: none;
  cursor: pointer;
}
.header__actionButton:hover {
  opacity: 0.8;
}

.headerTextMenu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.headerIconsMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pageLine {
  width: 100%;
  max-width: 1440px;
  height: 2px;
  background-color: #D8E3FE;
}

.menuIconsItem {
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ADB4D2;
  border: none;
  transition: opacity 0.3s;
  margin-left: 33px;
}
.menuIconsItem:hover {
  background-color: #5E81FE;
}

.facebook-icon {
  mask-image: url(../assets/images/facebook-icon.svg);
  width: 8.71px;
  height: 17px;
}

.telegram-icon {
  mask-image: url(../assets/images/telegram-icon.svg);
  width: 14.7px;
  height: 11.79px;
}

.twitter-icon {
  mask-image: url(../assets/images/twitter-icon.svg);
  width: 16.51px;
  height: 13.78px;
}

.m-icon {
  mask-image: url(../assets/images/m-icon.svg);
  width: 16.51px;
  height: 12.86px;
}

.menuIconsItem {
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ADB4D2;
  border: none;
  transition: opacity 0.3s;
  margin-left: 33px;
}
.menuIconsItem:hover {
  background-color: #5E81FE;
}

.facebook-icon {
  mask-image: url(../assets/images/facebook-icon.svg);
  width: 8.71px;
  height: 17px;
}

.telegram-icon {
  mask-image: url(../assets/images/telegram-icon.svg);
  width: 14.7px;
  height: 11.79px;
}

.twitter-icon {
  mask-image: url(../assets/images/twitter-icon.svg);
  width: 16.51px;
  height: 13.78px;
}

.m-icon {
  mask-image: url(../assets/images/m-icon.svg);
  width: 16.51px;
  height: 12.86px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 100%;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.intro__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #F4F7FF;
  background-image: url(../assets/images/intro-clouds.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  min-height: 570px;
}
.intro__ellipse {
  width: 100px;
  height: 100px;
  background-image: url(../assets/images/intro-ellipse.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 108px;
}
.intro__chart {
  max-height: 465px;
  height: 100vh;
  width: 100vw;
  max-width: 1440px;
  background-image: url(../assets/images/intro-chart.svg);
  background-repeat: no-repeat;
  background-position: left;
  position: absolute;
  bottom: 0;
}
.intro__textArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 91px 0 0 0;
  z-index: 1;
}
.intro__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #3D4F9F;
  width: 90px;
  text-align: center;
}
.intro__title {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 48px;
  line-height: 60px;
  color: #3D4F9F;
  width: 581px;
  text-align: center;
  margin: 16px 0 0 0;
}
.intro__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 29px;
  color: #8D96BD;
  width: 502px;
  text-align: center;
  margin: 28px 0 0 0;
}
.intro__playBtn-shape {
  margin: 0;
  padding: 0;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #FFFFFF;
  margin: 20px 0 0 0;
  position: relative;
  border: none;
  cursor: pointer;
  z-index: 1;
}
.intro__playBtn-shape:hover {
  opacity: 0.8;
}
.intro__playBtn-playIcon {
  margin: 0;
  padding: 0;
  height: 10px;
  width: 11px;
  background-image: url(../assets/images/play-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.intro__circle-shape {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 15px;
  height: 16px;
  background: #FFFFFF;
  border: 2px solid #5E81FE;
  box-shadow: 0px 0px 15px rgba(82, 131, 255, 0.25);
  border-radius: 50%;
  position: absolute;
  bottom: 68px;
  left: 508px;
}
.intro__one-of-stats {
  margin: 0;
  padding: 0;
  height: 120px;
  width: 140px;
  background-image: url(../assets/images/intro-one-of-stats.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  position: absolute;
  animation: myAnimation 20s infinite;
}
.intro__circleSet {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 48px;
  justify-content: space-between;
  justify-self: flex-end;
  margin: 0 0 28px 0;
  margin-top: auto;
}
.intro__circleSet-item {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #D1D6E3;
}

@keyframes myAnimation {
  0% {
    bottom: 0%;
    left: 0%;
    opacity: 0;
  }
  3% {
    bottom: 30px;
    left: 3%;
    opacity: 1;
  }
  31% {
    bottom: 60px;
    left: 31%;
    opacity: 1;
  }
  59% {
    bottom: 210px;
    left: 59.4%;
    opacity: 1;
  }
  88% {
    bottom: 325px;
    left: 88%;
    opacity: 1;
  }
  100% {
    bottom: 325px;
    left: 93%;
    opacity: 0;
  }
}
.videoButton__play-icon {
  width: 6.5px;
  height: 7.2px;
  background-image: url(../assets/images/playandmanage-play-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  margin: 0 0 0 6px;
}

.menuLogoItem {
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ADB4D2;
  border: none;
  transition: opacity 0.3s;
  margin-right: 76.5px;
}
.menuLogoItem:hover {
  background-color: #5E81FE;
}

.bitbucket-logo {
  mask-image: url(../assets/images/logo-bitbucket.svg);
  width: 116.59px;
  height: 29px;
}

.appleWatch-logo {
  mask-image: url(../assets/images/logo-apple-watch.svg);
  width: 116.59px;
  height: 24.29px;
}

.facebook-logo {
  mask-image: url(../assets/images/logo-facebook.svg);
  width: 116.58px;
  height: 22.37px;
}

.atlassian-logo {
  mask-image: url(../assets/images/logo-atlassian.svg);
  width: 116.57px;
  height: 24.07px;
}

.audi-logo {
  mask-image: url(../assets/images/logo-audi.svg);
  width: 116.58px;
  height: 28.94px;
}

.customers {
  width: 100%;
}
.customers__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 146px;
}
.customers__logoMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}

.planAndManage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #F5F8FF;
  justify-content: center;
}
.planAndManage__textArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.planAndManage__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #3D4F9F;
  width: 149px;
  text-align: left;
}
.planAndManage__title {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 45px;
  color: #3D4F9F;
  width: 299px;
  text-align: left;
  margin: 27px 0 0 0;
}
.planAndManage__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 29px;
  color: #8D96BD;
  width: 413px;
  text-align: left;
  margin: 27px 0 0 0;
}
.planAndManage__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.planAndManage__wrapper_main {
  min-height: 776px;
}
.planAndManage__wrapper_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.planAndManage__wrapper_buttons {
  margin: 47px 0 0 0;
}
.planAndManage__videoButton {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  width: 130px;
  height: 43px;
  background: #4C85FF;
  box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
  border-style: none;
  cursor: pointer;
}
.planAndManage__videoButton:hover {
  opacity: 0.8;
}
.planAndManage__actionButton {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 16px;
  color: #ADB4D2;
  width: 130px;
  height: 43px;
  background: #F5F8FF;
  border: 1px solid #D1D1E4;
  cursor: pointer;
}
.planAndManage__actionButton:hover {
  opacity: 0.8;
}
.planAndManage__illustration {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  width: 653px;
  height: 436px;
  position: relative;
  margin: 0 0 0 55px;
}
.planAndManage__illustration-main {
  width: 100%;
  height: 436px;
  background-image: url(../assets/images/playandmanage-illustration-1.svg);
  background-position: top -20px right -50px;
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  right: 0;
}
.planAndManage__illustration-search {
  width: 100%;
  height: 280px;
  background-image: url(../assets/images/playandmanage-illustration-2.svg);
  background-position: bottom -105px right -20px;
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  bottom: 0;
}
.planAndManage__illustration-events {
  width: 100%;
  height: 436px;
  background-image: url(../assets/images/playandmanage-illustration-3.svg);
  background-position: bottom 60px left -40px;
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  bottom: 0;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #FFFFFF;
  background-image: url(../assets/images/features-clouds.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1400px 600px;
}
.features__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 885px;
}
.features__textArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 171px 0 0 0;
}
.features__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #3D4F9F;
  width: 56px;
  text-align: center;
}
.features__title {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  color: #3D4F9F;
  width: 229px;
  text-align: center;
  margin: 20px 0 0 0;
}
.features__wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  max-width: 761px;
  margin: 92px 0 0 0;
  justify-content: space-between;
}
.features__wrapper_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 337px;
  justify-content: center;
}
.features__wrapper_text {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 110px;
  margin: 0;
  justify-content: space-evenly;
}
.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 140px;
  min-height: 254px;
}
.features__icon {
  width: 69px;
  height: 69px;
  border-radius: 50%;
  background-color: #F1F5FF;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.features__icon:hover {
  opacity: 0.6;
}
.features__icon_overview {
  background-image: url(../assets/images/features-overview-icon.svg);
}
.features__icon_files {
  background-image: url(../assets/images/features-files-icon.svg);
}
.features__icon_meetingChats {
  background-image: url(../assets/images/features-meetingChats-icon.svg);
}
.features__icon_saveEvents {
  background-image: url(../assets/images/features-saveEvents-icon.svg);
}
.features__itemTextArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  margin: 33px 0 0 0;
}
.features__item-title {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: #4074F8;
  font-size: 14px;
  line-height: 25px;
}
.features__item-text {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  text-align: center;
  color: #ADB3CB;
  font-size: 11px;
  line-height: 19px;
  margin: 25px 0 0 0;
}
.features__actionButton {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 16px;
  width: 113px;
  height: 43px;
  border-radius: 2px;
  border-style: none;
  cursor: pointer;
}
.features__actionButton_red {
  color: #D43F3F;
  background: #FFD7D7;
}
.features__actionButton_blue {
  color: #3A79FF;
  background: #D2E1FF;
}
.features__actionButton:hover {
  opacity: 0.8;
}
.features__line {
  width: 15px;
  border: 1px solid #DAE4FE;
}
.features__text {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 19px;
  text-transform: uppercase;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.stats__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-height: 342px;
  position: relative;
}
.stats__block {
  width: 100%;
  max-width: 720px;
  min-height: 342px;
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
}
.stats__block_greyBlue {
  background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
}
.stats__wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  min-height: 210px;
  width: 700px;
  justify-content: space-between;
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.stats__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 210px;
  width: 260px;
}
.stats__item_left {
  align-items: flex-end;
}
.stats__item_right {
  align-items: flex-start;
}
.stats__increased-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  background-image: url(../assets/images/stats-increase-icon.svg);
  width: 65px;
  height: 66px;
}
.stats__used-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  background-image: url(../assets/images/stats-used-icon.svg);
  width: 71px;
  height: 62px;
}
.stats__itemTextArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  margin: 24px 0 0 0;
}
.stats__itemTextArea_left {
  align-items: flex-end;
  text-align: right;
}
.stats__itemTextArea_right {
  align-items: flex-start;
  text-align: left;
}
.stats__item-title {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  letter-spacing: 0.03em;
  font-size: 48px;
  line-height: 83px;
}
.stats__item-title_white {
  color: #FFFFFF;
}
.stats__item-title_blue {
  color: #5E80FF;
}
.stats__item-text {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  margin: 0;
  padding: 0;
  letter-spacing: 0.03em;
  font-size: 18px;
  line-height: 23px;
}
.stats__item-text_white {
  color: #FFFFFF;
}
.stats__item-text_blue {
  color: #5E80FF;
}

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.blog__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 865px;
  background-color: #F5F8FF;
}
.blog__phTextArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 104px 0 0 0;
}
.blog__phSubtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #3D4F9F;
  width: 91px;
  text-align: center;
}
.blog__phTitle {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  color: #3D4F9F;
  width: 251px;
  text-align: center;
  margin: 20px 0 0 0;
}
.blog__swiper-container {
  width: 83%;
  display: flex;
  align-items: center;
  margin: 0 0 0 0;
}
.blog__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}
.blog__wrapper_parent {
  width: 1154px;
  justify-content: space-between;
}
.blog__wrapper_main {
  background-color: #FFFFFF;
  margin: 92px 0 101px 0;
  box-sizing: border-box;
  padding: 63px 41px 64px 35px;
  border: 1px solid #d8e3fe;
  box-shadow: 0px 15px 50px #eff4ff;
}
.blog__wrapper_vertical-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 0 67px;
}
.blog__wrapper_vertical-pics {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 0 13px;
}
.blog__wrapper_buttons {
  margin: 0;
  padding: 0;
  margin: 31px 0 0 0;
}
.blog__icon-arrow-left {
  width: 28px;
  height: 21px;
  border: none;
  background-color: #D1D6E3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
  cursor: pointer;
  mask-image: url(../assets/images/blog-arrow-left.svg);
}
.blog__icon-arrow-left:hover {
  background-color: #5E80FF;
}
.blog__icon-arrow-right {
  width: 28px;
  height: 21px;
  border: none;
  background-color: #D1D6E3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
  cursor: pointer;
  mask-image: url(../assets/images/blog-arrow-right.svg);
}
.blog__icon-arrow-right:hover {
  background-color: #5E80FF;
}
.blog__item-container {
  width: 958px;
}
.blog__pic {
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 100vw;
}
.blog__pic_main {
  background-image: url(../assets/images/blog-pic-main.png);
  background-position: top -83px right -100px;
  max-width: 267px;
  min-height: 267px;
  position: relative;
}
.blog__pic_table {
  background-image: url(../assets/images/blog-pic-table.png);
  background-position: top -83px right -100px;
  max-width: 126px;
  min-height: 127px;
}
.blog__pic_man {
  background-image: url(../assets/images/blog-pic-man.png);
  background-position: top -83px right -100px;
  max-width: 126px;
  min-height: 127px;
  margin: 13px 0 0 0;
}
.blog__pic_main-01 {
  background-image: url(../assets/images/blog-pic-main-01.jpg);
  background-position: center;
  background-size: cover;
  max-width: 267px;
  min-height: 267px;
  position: relative;
}
.blog__pic_table-01 {
  background-image: url(../assets/images/blog-pic-table-01.jpg);
  background-position: center;
  background-size: cover;
  max-width: 126px;
  min-height: 127px;
}
.blog__pic_man-01 {
  background-image: url(../assets/images/blog-pic-man-01.jpg);
  background-position: center;
  background-size: cover;
  max-width: 126px;
  min-height: 127px;
  margin: 13px 0 0 0;
}
.blog__pic_main-02 {
  background-image: url(../assets/images/blog-pic-main-02.jpg);
  background-position: center;
  background-size: cover;
  max-width: 267px;
  min-height: 267px;
  position: relative;
}
.blog__search-icon {
  position: absolute;
  width: 65px;
  height: 65px;
  left: 50%;
  top: 50%;
  background-image: url(../assets/images/blog-zoom-icon.svg);
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.blog__hpTextArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}
.blog__hpTitle {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 45px;
  color: #3D4F9F;
  width: 359px;
  text-align: left;
}
.blog__hpSubtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 27px;
  color: #3D4F9F;
  width: 408px;
  text-align: left;
  margin: 32px 0 0 0;
}
.blog__btn {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #3A79FF;
  width: 113px;
  height: 43px;
  border: none;
  border-radius: 2px;
  background: #D2E1FF;
  cursor: pointer;
}
.blog__btn_white {
  color: #A6B6DA;
  background: #FFFFFF;
  width: 211px;
  height: 43px;
  margin: 0 0 0 8px;
}
.blog__btn:hover {
  opacity: 0.8;
}

.quotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.quotes__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-height: 480px;
  background: linear-gradient(180deg, #eaf0ff 0%, #f6f9ff 100%);
  overflow: hidden;
}
.quotes__textArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 0 276px;
  min-width: 333px;
}
.quotes__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #3D4F9F;
  width: 80%;
  text-align: left;
}
.quotes__title {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 45px;
  color: #3D4F9F;
  width: 100%;
  text-align: left;
  margin: 31px 0 0 0;
}
.quotes__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 23px;
  color: #A4ABC8;
  letter-spacing: 0.03em;
  width: 100%;
  margin: 14px 0 0 0;
}
.quotes__swiper-container {
  width: 60%;
  display: flex;
  align-items: center;
  margin: 0 0 0 132px;
}
.quotes__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quotes__menu {
  margin: 0;
  padding: 0;
  display: grid;
  list-style: none;
  height: auto;
  visibility: visible;
  grid-template-columns: repeat(2, 1fr);
}
.quotes__item-container {
  max-width: 425px;
  padding: 0 0 31px 0;
  background-color: transparent;
  position: relative;
}
.quotes__item {
  min-height: auto;
  margin: 0;
  padding: 41px 71px 53px 69px;
  background-color: #FFFFFF;
}
.quotes__pText {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #676F95;
}
.quotes__person {
  width: 62px;
  height: 62px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 190px;
  bottom: 0;
  padding: 0;
}
.quotes__person_john-brow {
  background-image: url(../assets/images/quotes-john-brow.png);
}
.quotes__person_jack-black {
  background-image: url(../assets/images/quotes-john-brow.png);
}
.quotes__person_lionel-messi {
  background-image: url(../assets/images/quotes-john-brow.png);
}
.quotes__person_kurt-russel {
  background-image: url(../assets/images/quotes-john-brow.png);
}
.quotes__person_demi-moor {
  background-image: url(../assets/images/quotes-john-brow.png);
}
.quotes__person_kristina-ricci {
  background-image: url(../assets/images/quotes-john-brow.png);
}
.quotes__circleSet {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 168px;
  justify-content: space-between;
  margin: 78px 0 0 0;
}
.quotes__circleSet-item {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #D1D6E3;
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.faq__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 480px;
}
.faq__phTextArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 176px 0 0 0;
}
.faq__phSubtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #3D4F9F;
  width: 93px;
  text-align: center;
}
.faq__phTitle {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  color: #3D4F9F;
  width: 311px;
  text-align: center;
  margin: 20px 0 0 0;
}
.faq__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
.faq__wrapper_main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 743px;
  margin: 68px 0 175px 0;
}
.faq__wrapper_horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.faq__wrapper_question {
  cursor: pointer;
}
.faq__wrapper_body {
  padding: 5px 0 42px 60px;
  display: none;
}
.faq__wrapper_active {
  display: flex;
  animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
.faq__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.faq__arrow {
  width: 18px;
  height: 18px;
  background-image: url(../assets/images/faq-arrow-down.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  transition: all 0.3s linear;
}
.faq__arrow_active {
  transform: rotate(-180deg);
}
.faq__question {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #8E96B7;
  margin: 30px 0 30px 24px;
}
.faq__question_active {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  color: #495274;
}
.faq__answer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  width: 391px;
  min-height: 62px;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8E96B7;
}
.faq__actionButton {
  margin: 0;
  padding: 0;
  width: 195px;
  height: 43px;
  border-radius: 2px;
  background: #D2E1FF;
  border-style: none;
  margin: 0 0 0 42px;
  cursor: pointer;
}
.faq__actionButton:hover {
  opacity: 0.8;
}
.faq__line {
  width: 100%;
  height: 1px;
  background-color: #d8e3fe;
}

.getStarted {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #5e80ff;
  background-image: url(../assets/images/getstarted-clouds.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.getStarted__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 447px;
}
.getStarted__textArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 91px 0 0 0;
}
.getStarted__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 90px;
  text-align: center;
  letter-spacing: 0.1em;
}
.getStarted__textAreaWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 357px;
  justify-content: space-between;
}
.getStarted__h3Title {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 48px;
  line-height: 60px;
  color: #FFFFFF;
  text-align: center;
  margin: 16px 0 0 0;
}
.getStarted__h3Title_bold {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
}
.getStarted__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 29px;
  color: #FFFFFF;
  width: 712px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 28px 0 0 0;
}
.getStarted__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 58px 0 0 0;
}
.getStarted__btn {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #c7d3ff;
  border: 1px solid #a0b4ff;
  background-color: transparent;
  border-radius: 2px;
  width: 155px;
  height: 43px;
  cursor: pointer;
}
.getStarted__btn_bgWhite {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  color: #565f82;
  background-color: #FFFFFF;
  border-style: none;
  box-shadow: 0px 5px 15px #6480e8;
  width: 130px;
}
.getStarted__btn:hover {
  opacity: 0.8;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.newsletter__hpTextArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}
.newsletter__hpTitle {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  color: #3D4F9F;
  width: 200px;
  text-align: left;
}
.newsletter__hpSubtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 27px;
  color: #8D96BD;
  width: 330px;
  text-align: left;
  margin: 18px 0 0 0;
}
.newsletter__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 332px;
}
.newsletter__form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 0 80px;
}
.newsletter__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.newsletter__input {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 16px;
  color: #3D4F9F;
  width: 200px;
  text-align: left;
  width: 279px;
  height: 59px;
  background-color: #EFEFF7;
  border-style: none;
  box-sizing: border-box;
  padding: 21px 21px 21px 23px;
}
.newsletter__input-error {
  position: absolute;
  left: 10px;
  bottom: -70px;
  width: 460px;
  word-wrap: break-word;
  min-height: -webkit-fill-available;
}
.newsletter__input-error_active {
  color: #D43F3F;
}
.newsletter__btn {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  width: 184px;
  height: 59px;
  border: none;
  border-radius: 5px;
  background: #5E80FF;
  box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
  margin: 0 0 0 14px;
  cursor: pointer;
}
.newsletter__btn:hover {
  opacity: 0.8;
}
.newsletter__btn_disabled {
  color: #ADB4D2;
  background: #D2E1FF;
  cursor: auto;
}
.newsletter__btn_disabled:hover {
  opacity: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 80%;
}
.footer__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 93px 0 0 0;
}
.footer__circleShape {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #5E81FE;
  margin-right: 73px;
}
.footer__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__actionButton {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #3A79FF;
  width: 113px;
  height: 43px;
  background: #D2E1FF;
  border-radius: 2px;
  margin: 19px 0 19px 44px;
  border-style: none;
  cursor: pointer;
}
.footer__actionButton:hover {
  opacity: 0.8;
}
.footer__copyright {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #AEB8D0;
  margin: 28px 0 93px 0;
}

.infoPopup {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}
.infoPopup_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
  z-index: 2;
}
.infoPopup__info {
  background-color: #fff;
  width: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.infoPopup__image {
  margin: 60px auto 32px;
}
.infoPopup__title {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  color: #4C85FF;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0 0 60px;
}
.infoPopup__button-close {
  background-image: url(../assets/images/vector-icon-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  position: absolute;
  right: -40px;
  top: -40px;
  cursor: pointer;
  transition: opacity 0.2s;
}
.infoPopup__button-close:hover {
  opacity: 0.6;
}

.videoPopup {
  display: grid;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
}
.videoPopup_is-opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.9s, opacity 0.7s linear;
  z-index: 2;
}
.videoPopup__container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 2;
  cursor: default;
  justify-items: center;
  padding: 0;
  border-radius: 8px;
}
.videoPopup__container_place_video-popup {
  padding: 0;
  width: 900px;
}
.videoPopup__popup-video {
  width: 80vw;
  border: none;
  height: 50vh;
}
.videoPopup__btn-close {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(../assets/images/button-close-popup-white.png);
  background-repeat: no-repeat;
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  position: absolute;
  background-size: contain;
  top: -40px;
  right: -40px;
}
.videoPopup__btn-close:hover {
  cursor: pointer;
  opacity: 0.6;
}

/*# sourceMappingURL=index.css.map */
