.menuIconsItem {
  @include mp-0;
  @include bg-icon-set;

  &:hover {
    background-color: $lightBlue;
  }
}

.facebook-icon {
  mask-image: url(../assets/images/facebook-icon.svg);
  width: 8.71px;
  height: 17px;
}

.telegram-icon {
  mask-image: url(../assets/images/telegram-icon.svg);
  width: 14.7px;
  height: 11.79px;
}

.twitter-icon {
  mask-image: url(../assets/images/twitter-icon.svg);
  width: 16.51px;
  height: 13.78px;
}

.m-icon {
  mask-image: url(../assets/images/m-icon.svg);
  width: 16.51px;
  height: 12.86px;
}