$white: #FFFFFF;

$paleWhite: #F4F7FF;
$lightBlue: #5E81FE;
$statsBlue: #5E80FF;
$darkBlue: #3D4F9F;
$deepBlue: #4C85FF;
$paleBlue: #8D96BD;
$textBlue: #4074F8;
$btnTextBlue: #3A79FF;
$btnBGBlue: #D2E1FF;

$grey: #D1D6E3;
$paleGrey: #F5F8FF;
$lightGrey: #ADB4D2;
$deepGrey: #F1F5FF;
$textGrey: #ADB3CB;
$lineGrey: #DAE4FE;
$btnGrey: #D2E1FF;
$btnTextGrey: #A6B6DA;

$btnTextRed: #D43F3F;
$btnBGRed: #FFD7D7;
