.footer {
    @include fc-center;
    max-width: 1440px;
    width: 80%;

    &__container {
        @include fr-center;
        justify-content: space-between;
        margin: 93px 0 0 0;
    }

    &__circleShape {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background-color: $lightBlue;
        margin-right: 73px;
    }

    &__wrapper {
        @include fr-center;
    }

    &__actionButton {
        @include font-qn700;
        font-size: 13px;
        line-height: 16px;
        color: #3A79FF;
        width: 113px;
        height: 43px;
        background: #D2E1FF;
        border-radius: 2px;
        margin: 19px 0 19px 44px;
        border-style: none;
    }

    &__copyright {
        @include font-qn500;
        @include mp-0;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.05em;
        color: #AEB8D0;
        margin: 28px 0 93px 0;
    }
}